<clr-main-container>
    <clr-alert [clrAlertType]="'alert-danger'" [clrAlertAppLevel]="true" *ngIf="networkErrors.length">
        <clr-alert-item *ngFor="let error of networkErrors">
            <span class="alert-text">
                {{ error }}
            </span>
        </clr-alert-item>
    </clr-alert>
    <clr-header>
        <div class="branding">
            <a href="#" class="nav-link">
                <span class="clr-icon clr-clarity-logo"></span>
                <span class="title">Angular GraphQL Demo</span>
            </a>
        </div>
        <div class="header-nav" [clr-nav-level]="1">
            <a class="nav-link" href="#" [routerLink]="['/home']" routerLinkActive="active"><span class="nav-text">Home</span></a>
        </div>
        <div class="header-actions">
        </div>
    </clr-header>
    <div class="content-container">
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
    </div>
</clr-main-container>
